[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Localized"]
	path = app/Plugin/Localized
	url = https://github.com/cakephp/localized.git
