[submodule "DebugKit"]
	path = app/Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Localized"]
	path = app/Plugin/Localized
	url = https://github.com/cakephp/localized.git
[submodule "cakephp-scaffold-bootstrap3"]
	path = app
	url = https://github.com/xv1t/cakephp-scaffold-bootstrap3.git
